#!/bin/bash
yum update -y
yum install java-1.8.0-openjdk -y
mkdir artifactory
cd artifactory
wget -O artifactory-oss-6.17.0.zip https://bintray.com/jfrog/artifactory/download_file?file_path=jfrog-artifactory-oss-6.17.0.zip
rm -f artifactory-oss-6.17.0.zip
cd artifactory-oss-6.17.0/bin/
./artifactoryctl start
